<div class="main_container">
    <div class="card">
        <div class="row justify-content-center" style="margin: 20px 0px;">
            <div class="col-8">
                <input type="email" class="form-control">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 center">
                <button class="btn btn-primary">Send OTP</button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 center">
                <a [routerLink]="['/login']">login</a>
            </div>
        </div>
    </div>
</div>